<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>
            <%= title %>
        </title>
        <script src="<%= paths.cy %>"></script>
        <script src="<%= paths.cyCollapse %>"></script>
        <script src="<%= paths.elk %>"></script>
        <script src="<%= paths.cyElk %>"></script>
        <script src="<%= paths.cola %>"></script>
        <script src="<%= paths.cyCola %>"></script>
        <script src="<%= paths.shim %>"></script>
        <script src="<%= paths.layoutBase %>"></script>
        <script src="<%= paths.coseBase %>"></script>
        <script src="<%= paths.cyCoseBilkent %>"></script>
        <link rel="stylesheet" href="<%= paths.stylesheet %>">
        <link rel="stylesheet" href="<%= paths.fontawesome %>">
        <link rel="stylesheet" href="<%= paths.regularFont %>">
        <link rel="stylesheet" href="<%= paths.solidFont %>">
    </head>

    <body>
        <img id="loader" src="<%= paths.loader %>"></img>
        <div id="menu">
            <div id="title">
                <center>
                    <h1>
                        <i class="fa-solid fa-moon"></i> <b>LUNA</b> | <%= title %>
                    </h1>
                </center>
            </div>
            <div id="settings">
                <h3><i class="fa-solid fa-circle-nodes"></i> Graph</h3>
                <table>
                    <tr>
                        <td><b><label for="bShowData">Show Data Imports:</label></b></td>
                        <td><input type="checkbox" id="bShowData" name="bShowData" checked></input></td>
                    </tr>
                    <tr>
                        <td><b><label for="spacing">Spacing Factor:</label></b></td>
                        <td><input type="number" value="1" step="0.1" min="0" id="spacing" name="spacing"></input></td>
                    </tr>
                    <tr>
                        <td><b>Layout Algorithm:</b></td>
                        <td>
                            <select id="layout">
                                <option value="breadthfirst">breadthfirst</option>
                                <option value="cola">Cola</option>
                                <option value="cose-bilkent">Cose-Bilkent</option>
                                <option value="layered">Elk: Layered</option>
                                <option value="mrtree">Elk: Mr. Tree</option>
                            </select>
                    </tr>
                    <!-- <tr>
                        <td><b>Highlight File:</b></td>
                        <td>
                            <select id="fileSelect"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Highlight Library:</b></td>
                        <td>
                            <select id="libSelect"></select>
                        </td>
                    </tr> -->
                </table>
                <br>
                <b>File Control:</b>
                <div class="file-tree" id="fileTree"></div>
                <br>
                <b>Library Control:</b>
                <div class="file-tree" id="libTree"></div>
                <br>
                <center>
                    <button id="imgBtn"><i class="fa-solid fa-image"></i></button>
                    <button id="fitBtn">Fit</button>
                    <button id="resetBtn">Center</button>
                    <button id="backBtn" style="display: none;">Back</button>
                </center>
            </div>
            <div id="info" style="display: none;">
                <h3><i class="fa-solid fa-circle"></i> Node</h3>
                <div id="info-content"></div>
                <center>
                    <button id="lockBtn" title="Lock focus on this node. Shortcut: Shift + click"><i
                            class="fa-solid fa-lock"></i></button>
                    <button id="centerBtn">Center</button>
                    <button id="highlightBtn">Highlight</button>
                </center>
            </div>
        </div>
        <div id="cy" data-cy="<%= JSON.stringify(data) %>"></div>
        <script>window.data = JSON.parse(document.querySelector("#cy").dataset.cy);</script>
        <script src="<%= paths.cySetup %>"></script>
    </body>

</html>