<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>
            <%= title %>
        </title>
        
        <script><%- include(paths.cy); -%></script>
        <script><%- include(paths.cyCollapse); -%></script>
        <script><%- include(paths.elk); -%></script>
        <script><%- include(paths.cyElk); -%></script>
        <script><%- include(paths.cola); -%></script>
        <script><%- include(paths.cyCola); -%></script>
        <script><%- include(paths.shim); -%></script>
        <script><%- include(paths.layoutBase); -%></script>
        <script><%- include(paths.coseBase); -%></script>
        <script><%- include(paths.cyCoseBilkent); -%></script>

        <% if (config.debug) { %>
        <link rel="stylesheet" href="<%- paths.stylesheet %>">
        <% } else { %>
        <style><%- include(paths.stylesheet); -%></style>
        <% } %>
        <style><%- include(paths.fontawesome); -%></style>
        <style><%- include(paths.regularFont); -%></style>
        <style><%- include(paths.solidFont); -%></style>
    </head>

    <body>
        <img id="loader" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBzdHlsZT0ibWFyZ2luOiBhdXRvOyBiYWNrZ3JvdW5kOiBub25lOyBkaXNwbGF5OiBibG9jazsgc2hhcGUtcmVuZGVyaW5nOiBhdXRvOyIgd2lkdGg9IjYwMHB4IiBoZWlnaHQ9IjYwMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQiPgo8cGF0aCBkPSJNMjUgNTBBMjUgMjUgMCAwIDAgNzUgNTBBMjUgMjYuNSAwIDAgMSAyNSA1MCIgZmlsbD0iI2ZmZmZmZiIgc3Ryb2tlPSJub25lIj4KICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZHVyPSIxLjE3NjQ3MDU4ODIzNTI5NDJzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIga2V5VGltZXM9IjA7MSIgdmFsdWVzPSIwIDUwIDUwLjc1OzM2MCA1MCA1MC43NSI+PC9hbmltYXRlVHJhbnNmb3JtPgo8L3BhdGg+CjwhLS0gW2xkaW9dIGdlbmVyYXRlZCBieSBodHRwczovL2xvYWRpbmcuaW8vIC0tPjwvc3ZnPg=="></img>
        <div id="menu">
            <div id="title">
                <center>
                    <h1>
                        <i class="fa-solid fa-moon"></i> <b>LUNA</b> | <%= title %>
                    </h1>
                </center>
            </div>
            <div id="settings">
                <h3><i class="fa-solid fa-circle-nodes"></i> Graph</h3>
                <table>
                    <tr>
                        <td><b><label for="bShowData">Show Data Imports:</label></b></td>
                        <td><input type="checkbox" id="bShowData" name="bShowData" checked></input></td>
                    </tr>
                    <tr>
                        <td><b><label for="spacing">Spacing Factor:</label></b></td>
                        <td><input type="number" value="1" step="0.1" min="0" id="spacing" name="spacing"></input></td>
                    </tr>
                    <tr>
                        <td><b>Layout Algorithm:</b></td>
                        <td>
                            <select id="layout">
                                <option value="breadthfirst">breadthfirst</option>
                                <option value="cola">Cola</option>
                                <option value="cose-bilkent">Cose-Bilkent</option>
                                <option value="layered">Elk: Layered</option>
                                <option value="mrtree">Elk: Mr. Tree</option>
                            </select>
                    </tr>
                    <!-- <tr>
                        <td><b>Highlight File:</b></td>
                        <td>
                            <select id="fileSelect"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Highlight Library:</b></td>
                        <td>
                            <select id="libSelect"></select>
                        </td>
                    </tr> -->
                </table>
                <br>
                <b>File Control:</b>
                <div class="file-tree" id="fileTree"></div>
                <br>
                <b>Library Control:</b>
                <div class="file-tree" id="libTree"></div>
                <br>
                <center>
                    <button id="imgBtn"><i class="fa-solid fa-image"></i></button>
                    <button id="fitBtn">Fit</button>
                    <button id="resetBtn">Center</button>
                    <button id="backBtn" style="display: none;">Back</button>
                </center>
            </div>
            <div id="info" style="display: none;">
                <h3><i class="fa-solid fa-circle"></i> Node</h3>
                <div id="info-content"></div>
                <center>
                    <button id="lockBtn" title="Lock focus on this node. Shortcut: Shift + click"><i
                            class="fa-solid fa-lock"></i></button>
                    <button id="centerBtn">Center</button>
                    <button id="highlightBtn">Highlight</button>
                </center>
            </div>
        </div>
        <div id="cy" data-cy="<%= JSON.stringify(data) %>"></div>
        <script>window.data = JSON.parse(document.querySelector("#cy").dataset.cy);</script>
        
        <% if (config.debug) { %>
        <script src="<%= paths.cySetup %>"></script>
        <% } else { %>
        <script><%- include(paths.cySetup) %></script>
        <% } %>
    </body>

</html>